*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 2rem;

    a{
        text-decoration: none;
        color: inherit;
    }

    a.active{
      font-weight: bold;
      text-decoration: underline;
    }
}


header, nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav {
    padding: 1rem;
    img{
        width: 4rem;
        height: 4rem;
    }
}

.error{
    color: red;
   font-size: 0.75rem;
   font-weight: bold;
}

.home__link{
    display: flex;
    justify-content: end;
}

.small__logo{
    width: 2rem;
}

.login__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.login__title{
 text-align: center;
}

.form__grup{
    margin-bottom: 1rem;
}